{% extends "registration/registration_base.html" %}

{% block title %} Log in | {{ site.name }} {% endblock %}

{% block content %}
<form id="login-form" class="log" method="post" action="">{% csrf_token %}
    <p class="login__title">sign in <br><span class="login-edition">welcome to {{ site.name }}</span></p>
    <div class="social social--colored">
        <a href='#' class="social__variant fa fa-facebook"></a>
        <a href='#' class="social__variant fa fa-twitter"></a>
        <a href='#' class="social__variant fa fa-tumblr"></a>
    </div>

    <p class="login__tracker">or</p>

    <div class="field-wrap">
        {% load widget_tweaks %}
        {{ form.username|attr:"class:login__input"|attr:"placeholder:Username" }}
        {{ form.password|add_class:"login__input"|attr:"placeholder:Password" }}
        <p></p>
    </div>
    
    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
        <a href="{% url 'auth_password_reset' %}" class="login__tracker form__tracker">Forgot your password?</a>
        <a href="{% url 'registration_register' %}" class="login__tracker form__tracker">Not a member?</a>
    </div>
</form>

{% endblock %}
