{% extends "registration/registration_base.html" %}

{% block title %} Reset password | xxx {% endblock %}

{% block content %}
    <form id="login-form" class="log" method="post" action="">{% csrf_token %}
    <p class="login__title"> Forgot your password?<br><span class="login-edition">Enter your email in the form below and we'll send you instructions for creating a new one.</span></p>

    <div class="field-wrap">
        {% load widget_tweaks %}
        {{ form.email|attr:"class:login__input"|attr:"placeholder:Email" }}
        {% if form.email.errors %}
             <p class="inv-em alert alert-danger">
                <span class="icon-warning"></span>
                    {{form.email.errors.0}}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true"></a>
            </p>
        {% endif %}
        <p></p>
    </div>
    
    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">Reset password</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
{% endblock %}


