{% extends "registration/registration_base.html" %}

{% block title %} Change password | xxx {% endblock %}

{% block content %}
<form id="login-form" class="log" method="post" action="">{% csrf_token %}
    <p class="login__title">Change password</p>
    
    <div class="field-wrap">
        {% load widget_tweaks %}
        {{ form.old_password|attr:"class:login__input"|attr:"placeholder:Old password" }}
        {{ form.new_password1|add_class:"login__input"|attr:"placeholder:New password" }}
        {{ form.new_password1|add_class:"login__input"|attr:"placeholder:Repeat password" }}
        <p></p>
    </div>
    
    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">Change</button>
    </div>
</form>

{% endblock %}