{% extends "registration/registration_base.html" %}

{% block title %} Change password | xxx {% endblock %}

{% block content %}
<form id="login-form" class="log" method="post" action="">{% csrf_token %}
    <p class="login__title">Change password</p>
    
    <div class="field-wrap">
        {% load widget_tweaks %}
        {% with WIDGET_ERROR_CLASS='invalid_field' %}
            {% render_field form.old_password|attr:"class:login__input"|attr:"placeholder:Old password" %}
        {% if form.old_password.errors %}
            <p class="inv-em alert alert-danger">
                <span class="icon-warning"></span>
                    {{form.old_password.errors.0}}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true"></a>
            </p>
        {% endif %}
            {% render_field form.new_password1|add_class:"login__input"|attr:"placeholder:New password" %}
            {% render_field form.new_password2|add_class:"login__input"|attr:"placeholder:Repeat password" %}
        {% endwith %}
        {% if form.new_password1.errors or form.new_password2.errors %}
            <p class="inv-em alert alert-danger">
                <span class="icon-warning"></span>
                    {{form.new_password2.errors.0}}
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true"></a>
            </p>
        {% endif %}
        <p></p>
    </div>
    
    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">Change</button>
    </div>
</form>

{% endblock %}