{% extends "base.html" %}
{% load staticfiles%}

{% block title %} User profile for {{ user.username }} | xxx {% endblock %}

{% block content %}
<div class="container">
            {% if object_list.count == 0 %}
                <p>No reservations yet.</p>
            {% else %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Reservation date</th>
                            <th>Payment status</th>
                            <th>Reservation type</th>
                            <th>Row numbers</th>
                            <th>Movie</th>
                            <th>Cinema</th>
                            <th>Auditorium</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ reservation.reservation_date|date:"d/m/Y" }}</td>
                            <td>{% if reservation.paid %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                            <td>{{ reservation.reservation_type.type }}</td>
                                <td>
                                {% for seat in reservation.seat.all %}
                                    {{ seat.rowNumber }}
                                    {% if not forloop.last %}
                                        ,                       
                                    {% endif%}
                                 {% endfor %}
                                </td>
                            <td>{{ reservation.screening.movie.title }}</td>
                            <td>{{ reservation.screening.auditorium.cinema.name }}</td>
                            <td>{{ reservation.screening.auditorium.name }}</td>
                            <td>{{ reservation.screening.auditorium.cinema.city.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
</div>

{% endblock %}
