{% load staticfiles %}
<div class="container">
  <!-- Logo link-->
  <a href='{% url 'index' %}' class="logo">
    <img alt='logo' src="http://placehold.it/111x17">
</a>

<!-- Main website navigation-->
<nav id="navigation-box">
    <!-- Toggle for mobile menu mode -->
    <a href="#" id="navigation-toggle">
      <span class="menu-icon">
        <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
          <span class="lines"></span>
      </span>
  </span>
</a>

<!-- Link navigation -->
<ul id="navigation">
    <li>
      <span class="sub-nav-toggle plus"></span>
      <a href="{% url 'contact' %}">Contact us</a>
    </li>
</ul>
</nav>

<!-- Additional header buttons / Auth and direct link to booking-->
<div class="control-panel">
    <div class="auth auth--home">
        {% if user.is_authenticated %}        
        <div class="auth__show">
          {% if user.User_profile.image %}
          <span class="auth__image">
            <img alt="" src="{{ MEDIA_URL }}{{user.User_profile.image}}">
        </span>
        {% endif %}
    </div>
    <a href="#" class="btn btn--sign btn--singin">me</a>
    <ul class="auth__function">
        <li><a href="{% url 'profile' %}" class="auth__function-item">Reservations</a></li>
        <li><a href="{% url 'editAccount' %}" class="auth__function-item">Edit account</a></li>
        <li><a href="{% url 'editProfile' %}" class="auth__function-item">Edit profile</a></li>
        <li><a href="{% url 'auth_logout' %}" class="auth__function-item">Logout</a></li>
    </ul>
    {% else %}
    <div class="auth__show">

    </div>
    <a href="#" class="btn btn--sign btn--singin">Login</a>
    <ul class="auth__function">
        <li><a href="{% url 'auth_login' %}" class="auth__function-item">Login</a></li>
        <li><a href="{% url 'registration_register' %}" class="auth__function-item">Sing up</a></li>
    </ul>
    {%endif%}
</div>
<a href="#" class="btn btn-md btn--warning btn--book btn-control--home">Book a ticket</a>
</div>
</div>