{% load staticfiles%}
<h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            {% if movies.count == 0 %}
                <p>No Movies yet.</p>
            {% else %}
            {% for movie in movies %}         
                                      <!--movie--test--ligth movie--test--right-->
            {% if forloop.counter|divisibleby:2 %}
                <div class="movie movie--test movie--test--light movie--test--left">
            {% else %}
                <div class="movie movie--test movie--test--dark movie--test--left">
            {% endif %}
                <div class="movie__images">
                    <a href="#" class="movie-beta__link">
                        <img alt='' src="{{ MEDIA_URL }}{{movie.image_thumbnail}}">
                    </a>
                </div>
                <div class="movie__info">
                    <a href='#' class="movie__title">{{ movie.title }} ({{ movie.release_date|date:"Y" }})  </a>
                    <p class="movie__time">{{ movie.duration }} min</p>
                    <p class="movie__option">
                        {% for category in movie.categories.all %}
                            <a href="#">{{ category.name }}</a>
                            {% if not forloop.last %}
                                |                             
                            {% endif%}
                        {% endfor %}
                    </p>
                    <div class="movie__rate">
                        <div class="score"></div>
                        <span class="movie__rating">{{ movie.review_grade }}</span>
                    </div>               
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {# {% include "includes/social.html"%} #}
            {# {% include "includes/aside-banners.html"%} #}
        </div>
    </div>
    {# {% include "includes/latest-news.html"%} #}
</div>
