{% load staticfiles%}
<div class="movie-best">
    <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
    <div class="col-sm-12 change--col">
        {% for movie in movies %} 
            
            <div {% cycle 'class="movie-beta__item"' 'class="movie-beta__item second-item"' 'class="movie-beta__item third-item"' 'class="movie-beta__item hidden-xs"' 'class="movie-beta__item hidden-xs hidden-sm"' 'class="movie-beta__item hidden-xs hidden-sm"' %}>
                <img alt='' src="{{ MEDIA_URL }}{{movie.image_thumbnail}}">
                <span class="best-rate">{{ movie.get_avg_rating|floatformat }}</span>
                <ul class="movie-beta__info">
                    <li><span class="best-voted">{{ movie.get_rating_votes }} people voted</span></li>
                    <li>
                        <p class="movie__time">{{ movie.duration }} min</p>    <p>                    
                        {% for category in movie.categories.all %}
                            {{ category.name }}
                            {% if not forloop.last %}
                                |                             
                            {% endif%}

                        {% endfor %}</p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="{% url 'movie' movie.id %}" class="slide__link">more</a>
                    </li>
                </ul>
            </div>        
        {% endfor %}
                      
    </div>
    <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
</div>

{#{% include "includes/search.html" %}#}

<div class="clearfix"></div>

