{% extends "base.html" %}
{% load staticfiles %}
{% load jsonify %}

{% block title %} Movie {{ object.title }} | {{ site.name }} {% endblock %}


{% block content %}
<!-- Search bar -->
{# {% include "includes/movie-search.html" %} #}
<section class="container">
    <div class="col-sm-8 col-md-9">
        <div class="movie">
            <h2 class="page-heading">{{ object.title }}</h2>
            <div class="movie__info" movieId='{{ object.id }}'>
                <div class="col-sm-6 col-md-4 movie-mobile">
                    <div class="movie__images">
                        <span class="movie__rating">{{ object.get_avg_rating|floatformat }}</span>
                        <img alt='' src="{{MEDIA_URL}}{{object.image_thumbnail}}">
                    </div>
                        
                    <div class="movie__rate">
                        {{ user.is_authenticated|yesno:"Your vote:,Vote" }}
                        <div id='score' class="score" movieId="{{ object.id }}"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <p class="movie__time">{{ object.duration }} min</p>
                    <p class="movie__option"><strong>Country: </strong><a href="#">{{ object.city }}</a>, <a href="#">{{ object.country }}</a></p>
                    <p class="movie__option"><strong>Year: </strong><a href="#">{{ object.release_date|date:"Y" }}</a></p>
                    <p class="movie__option"><strong>Category: </strong>
                    {% for category in object.categories.all %}
                        <a href="#">{{ category.name }}</a>
                        {% if not forloop.last %}
                            ,                       
                        {% endif%}
                    {% endfor %}   
                    </p>
                    <p class="movie__option"><strong>Release date: </strong>{{ object.release_date|date:"d-m-Y" }}</p>
                    <p class="movie__option"><strong>Director: </strong><a href="#">{{ object.director }}</a></p>
                    <p class="movie__option"><strong>Actors: </strong>
                        {{ object.cast }}...
                    </p>
                    {% if object.age_restriction%}
                        <p class="movie__option"><strong>Age restriction: </strong>
                            <a href="#">{{ object.age_restriction }}</a>
                        </p>
                    {% endif %}

                    <div class="movie__btns">
                        <a id="reserve" class="btn btn-md btn--warning">book a ticket for this movie</a>
                        <!--<a href="#" class="watchlist">Add to watchlist</a>-->
                    </div>

                    <div class="share">
                        <span class="share__marker">Share: </span>
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                            <a class="addthis_button_tweet"></a>
                            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <h2 class="page-heading">The plot</h2>

            <p class="movie__describe">{{ object.description }}</p>

            
        </div>

        <h2 class="page-heading">showtime &amp; tickets</h2>
        <div class="choose-container">
            <form id='select' class="select" method='get'>
                <select name="select_item" id="select-sort" class="select__sort" tabindex="0">
                    {% for city in cities %}
                        <option value="{{city.id}}" {%if forloop.couter == 1 %}selected='selected'{% endif %}>{{ city.name }}</option>
                    {% endfor %}
                </select>
            </form>

            <div class="datepicker">
                <span class="datepicker__marker"><i class="fa fa-calendar"></i>Date</span>
                <input type="text" id="datepicker" value='{% now "m/d/Y" %}' class="datepicker__input">
            </div>

            <a href="#" id="map-switch" class="watchlist watchlist--map"><span class="show-map">Show cinemas on map</span><span  class="show-time">Show cinema time table</span></a>

            <div class="clearfix"></div>

            <div class="time-select">
                {% for obj in screenings %}
                    {% ifchanged  obj.auditorium.cinema.name %}
                        {% if not forloop.first %}
                            </ul>
                            </div>
                        {% endif %}
                        <div class="time-select__group {% if forloop.first %}group--first{% endif %} {% if forloop.last %}group--last{% endif %}">
                            <div class="col-sm-4">
                                <p class="time-select__place">{{ obj.auditorium.cinema.name }}</p>
                            </div>

                            <ul class="col-sm-8 items-wrap">
                                <li class="time-select__item" data-time='{{obj.screening_start|date:'H:i'}}' screeningId='{{ obj.id }}'>{{obj.screening_start|date:'H:i'}}</li>
                    {% else %}
                                <li class="time-select__item" data-time='{{obj.screening_start|date:'H:i'}}' screeningId='{{ obj.id }}'>{{obj.screening_start|date:'H:i'}}</li>
                    {% endifchanged %}
                    {% if forloop.last %}
                        </ul>
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="time-select__group">Sorry, no shows.</div>
                {% endfor %}
            </div>
            <!-- hiden maps with multiple locator-->
            <div  class="map">
                <div id='cimenas-map'></div> 
            </div>
        </div>
    </div>

{# {% include "includes/movie-aside-banner.html"%} #}
</section>

{% endblock %}

{% block scripts %}

<!-- jQuery UI -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- Mobile menu -->
<script src="{% static "js/jquery.mobile.menu.js" %}"></script>
<!-- Select -->
<script src="{% static "js/external/jquery.selectbox-0.2.min.js" %}"></script>

<!-- Stars rate -->
<script src="{% static "js/external/jquery.raty.js" %}"></script>
<!-- Swiper slider -->
<script src="{% static "js/external/idangerous.swiper.min.js" %}"></script>
<!-- Magnific-popup -->
<script src="{% static "js/external/jquery.magnific-popup.min.js" %}"></script> 

<!--*** Google map  ***-->
<script src="https://maps.google.com/maps/api/js"></script> 
<!--*** Google map infobox  ***-->
<script src="{% static "js/external/infobox.js" %}"></script> 

<!-- Share buttons
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525fd5e9061e7ef0"></script>
-->
<!-- Form element -->
<script src="{% static "js/external/form-element.js" %}"></script>
<!-- Form validation -->
<script src="{% static "js/form.js" %}"></script>

<!-- Custom -->
<script src="{% static "js/custom.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        init_MoviePage();

        $.fn.raty.defaults.path = "{{ STATIC_URL }}images/rate";
        $.fn.raty.defaults.size = 24;
            
        $.fn.raty.defaults.starOn = "star-on.png";
        $.fn.raty.defaults.starHalf = "star-half.png";
        $.fn.raty.defaults.half = true;
        $.fn.raty.defaults.single = false;
        
        var readOnly = {{user.is_authenticated|yesno:"true,false"}} ? false: true;
        var movieId = $('.score').attr('movieId');

        $('.score').raty({
            half: false,
            readOnly: readOnly,
            score: function() {
                return $(this).attr('data-score');
            },
            click: function(score, evt) {
                var current_rating = 0;
                if (score != null) {
                    current_rating = score;
                }
                $.ajax({
                    url: "{% url 'rating' %}",
                    type: "POST",
                    data: { 'rating': current_rating, 'movieId': movieId, 
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    statusCode: {
                        403: function(jqXHR, textStatus, errorThrown) {
                            // invalid rating was posted
                            console.log(errorThrown);
                        },
                        200: function(data, textStatus, jqXHR) {
                            obj = $.parseJSON(data);
                            $('.movie__rating').text(obj.avg.toFixed(1));
                            $('.score').raty('set', {readOnly: true, score: obj.rating });
                        }
                    }
                });
            },
            cancel: false,
        });
        if(readOnly)
        {
            //user not authenticated
            var avg = $('.movie__rating').text();
            $('.score').raty('set', {readOnly: true, score: avg, half: true });
        }else{
            //user authenticated
            if({{ vote.rating|yesno:"true,false" }})
                $('.score').raty('set', {readOnly: true, score: '{{vote.rating}}'});
        }

        $("#select-sort").selectbox({
            onChange: function (val, inst) {
                $(inst.input[0]).children().each(function(item){
                    $(this).removeAttr('selected');
                })
                $(inst.input[0]).find('[value="'+val+'"]').attr('selected','selected');

                $.ajax({
                    url: '{% url 'movie' 0 %}'.replace('0', movieId),
                    type: "POST",
                    data: { 'cityId': val, 'movieId': movieId, 
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    statusCode: {
                        403: function(jqXHR, textStatus, errorThrown) {
                            // invalid rating was posted
                            console.log(errorThrown);
                        },
                        200: function(data, textStatus, jqXHR) {
                            if(data.data.length == 0) {
                                $('.time-select').html("Sorry, no shows.")
                            }else{
                                $('.time-select').html('');
                                var oldName;
                                var elem;
                                var place;
                                var time;
                                $.each( data.data, function( index, value ) {
                                    var date;
                                    var cinemaName;
                                    var screeningId;
                                    $.each( value, function( key, value ) {
                                        //console.log(value + " ");
                                        if(key == "start"){
                                            date = new Date(value);
                                            hours = date.getHours();
                                            min = (date.getMinutes()<10?'0':'') + date.getMinutes();
                                            //console.log(hours + ":" + min);
                                        }else if(key == "cinemaName"){
                                            cinemaName = value;
                                        }else if(key == "screeningId"){
                                            screeningId = value;
                                        }
                                    });    
                                    
                                    if(oldName != cinemaName){
                                        elem = document.createElement('div');
                                    
                                        if(index == 0){
                                            elem.className = 'time-select__group group--first';
                                        }else if(index == data.data.length - 1){
                                            elem.className = 'time-select__group group--last';
                                        }else{
                                            elem.className = 'time-select__group';
                                        }
                                        place = document.createElement('div');
                                            place.className = 'col-sm-4';
                                            place.innerHTML = "<p class='time-select__place'>"+ cinemaName +"</p>";
                                        time = document.createElement('ul');
                                            time.className = 'col-sm-8 items-wrap';
                                        var li=document.createElement('li');
                                            li.className = 'time-select__item';
                                            li.setAttribute('date-time', hours + ":" + min);
                                            li.setAttribute('screeningId', screeningId);
                                            li.innerHTML = hours + ":" + min;
                                        time.appendChild(li);
                                        elem.appendChild(place);
                                        elem.appendChild(time);

                                    }else{
                                        var li=document.createElement('li');
                                            li.className = 'time-select__item';
                                            li.setAttribute('date-time', hours + ":" + min);
                                            li.setAttribute('screeningId', screeningId);
                                            li.innerHTML = hours + ":" + min;
                                        time.appendChild(li);
                                    }
           
                                    oldName = cinemaName;
                                    $('.time-select').append(elem);
                                });
                                
                            }
                        }
                    }
                });
            }
        });
        jQuery('#reserve').click(function(){
            var screening = document.getElementsByClassName("time-select__item active");
            console.log(screening);
            if(screening.length > 0){
                var id = screening[0].getAttribute("screeningId");
                $(location).attr('href',"/cinema/reserve/"+id+"/");
            }
        });
    });
</script>
{% endblock%}
